

td {
  border: 5px solid black;
}
table {
  border: 10px solid black;
  margin: auto;
  height: 80%;
  width: 100%;
  position: fixed;
}
tr {
}
td {
  background-color: #0f2785;
}
.dollar {
  width: 100%;
}
.red {
  background-color: red;
}
.cell {
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.overlay {
  background-color: #0f2785;
  z-index: 9;
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 76px;
  font-weight: bold;
  

}
.hidden {
  display: none;
}
