

td {
  border: 5px solid black;
}
table {
  border: 10px solid black;
  margin: auto;
}
tr {
  height: 150px;
}
td {
  width: 220px;
  background-color: #060CE9;
}
.red {
  background-color: red;
}
